* {
    margin: 0;
}

#container {
    text-align: center;
}

h1  {
    margin-top: 20px;
    font-family: 'Faster One', cursive;
    font-size: 128px;
    font-weight: 400;
}

.score {
    margin: auto;
    max-width: 510px;
    height: 99px;
    margin-top: 6px;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 26px;
    background-color: #D9D9D9;
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 64px;
}

.restart-btn{
    font-family: 'Rubik Mono One', serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 47px;
    display: flex;
    flex-direction: column;
    margin: auto auto 23px;
    cursor: pointer;
    max-width: 226px;
}

.tris {
    position: relative;
    margin: auto;
    display: flex;
    width: 510px;
}

.col .square{
    display: flex;
}

.square {
    width: 150px;
    height: 150px;
    background: #4287F5;
    border: 10px solid #000000;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    transition: all 0.4s;
}

.square:hover{
    background-color: rgb(13, 14, 90);
    transition: all 0.4s;
    border-radius: 14%;
    color: red;
    font-size: 120px;
}

.display-winning {
    font-family: 'Rubik Mono One', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 250px;
    background-color: rgba(224, 224, 224, .6);
    display: none;
    text-align: center;
    border-radius: 10%;
}

.content{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 50px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.display-winning.show {
    display: initial;
}

.close {
    background-color: lightcyan;
    cursor: pointer;
    font-size: 40px;
    margin: 0 auto;
}

.menu.closed{
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 0 50% 50% 0;
    width: 80px;
    height: 300px;
    font-size: 0;
    background: black;
    cursor: pointer;
}

.change-mode {
    margin-top: 20px;
    font-size: 37px;
    background-color: cornflowerblue;
}

.PvP-mode {
    cursor:pointer;
}

.bot-mode {
    cursor:pointer;
}

.close-menu {
    cursor: pointer;
}

.menu{
    transition: all 1s;
    font-family: 'Rubik Mono One', serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    font-size: 150px;
}

@media screen and (max-width: 480px) {
    
    h1 {
        font-size: 70px;
    }

    .score {
        height: 47px;
        font-size: 32px;
    }

    .restart-btn {
        max-width: 120px;
        font-size: 20px;
        line-height: 20px;
    }

    .tris {
        width: 330px;
    }

    .square {
        width: 90px;
        height: 90px;
    }

    .display-winning {
        top: 58%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}